body{
    margin:10px;
}
#tapis{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #777777;
    border-radius:10px;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    box-sizing: border-box;
}

.carte{
    width: 142px;
    height: 301px;
    perspective: 1000px;
    background-color: transparent;
    margin-bottom:10px;
    box-sizing: border-box;
}
.carteContent{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.4s;
    transform-style: preserve-3d;
    background-color: white;
    /* padding: 10px; */
    box-sizing: border-box;
}

/* .carte:hover .carteContent {
    
} */

.rotate{
    transform: rotateX(180deg);
}
.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10px;
    box-sizing: border-box;
}
.front {
    /* background-color: white; */
    background-image: url(../img/dos.png);
    background-position: center center;
    background-repeat: no-repeat;
    color: #111111;
    border: 3px solid black;
    padding: 10px;
    border-radius:10px;
}
.back{
    background-color: #8ebf42;
    color: #eeeeee;
    transform: rotateX(180deg);
}
.loading{
    background-color:black;
    width: 100%;
    text-align: center;
    border-radius:10px;
}
